extends layout

block content
  h1 Classes
  ul
    each classItem in classes
      li
        a(href=`/classes/${classItem._id}`) #{classItem.className} - #{classItem.level}
  a(href='/classes/new') Add New Class