extends layout

block content
  h1 #{classItem.className}
  p Level: #{classItem.level}
  a(href=`/classes/${classItem._id}/edit`) Edit
  form(action=`/classes/${classItem._id}?_method=DELETE`, method='POST')
    button(type='submit') Delete

