extends layout

block content
  h1 Dancers
  ul
    each dancer in Dancers
      li
       a(href=`/dancers/${dancer._id}`) #{dancer.username} - #{dancer.age} years old
  a(href='/dancers/new') Add New Dancer

