doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title  # {title}
  body 
h1 Freedom Dance Studio Class List

extends layout

block content
  h1 #{danceClass.name}
  p Level: #{danceClass.level}
  a(href=`/danceClasses/${danceClass._id}/edit`) Edit
  form(action=`/danceClasses/${danceClass._id}?_method=DELETE`, method='POST')
    button(type='submit') Delete

