extends layout

block content
  h1 #{dancer.username}
  p Age: #{dancer.age} years old
  a(href=`/dancers/${dancer._id}/edit`) Edit
  form(action=`/dancers/${dancer._id}?_method=DELETE`, method='POST')
    button(type='submit') Delete

