extends layout

block content
  h1 Edit User
  form(action=`/users/${user._id}?_method=PATCH`, method='POST')
    div
      label(for='username') Username:
      input(type='text', name='username', id='username', value=user.username, required)
    div
      label(for='age') Age:
      input(type='number', name='age', id='age', value=user.age, required)
    div
      button(type='submit') Update User
