doctype html
html(lang="en")
  head
    
    title Freedom Studio Dance Classes
    link(rel="stylesheet", href="../public/styles.css")
  body
    h1 Welcome to Freedom Dance Studio
    
    a(href="/class") View Classes
    a(href="/dancers") View Dancers
