extends layout

block content
  h1 Add New Dancer
  form(action='/dancers', method='POST')
    div
      label(for='username') Username:
      input(type='text', name='username', id='username', required)
    div
      label(for='age') Age:
      input(type='number', name='age', id='age', required)
    div
      button(type='submit') Add Dancer

