extends layout

block content
  h1 Add New Dance Class
  form(action='/danceClasses', method='POST')
    div
      label(for='name') Dance Class Name:
      input(type='text', name='name', id='name', required)
    div
      label(for='level') Level:
      select(name='level', id='level', required)
        option(value='Beginner') Beginner
        option(value='Intermediate') Intermediate
        option(value='Advanced') Advanced
        option(value='Professional') Professional
    div
      button(type='submit') Add Dance Class
